h2{text-align: center;}

body{
   
    background-image: url("../képek/hatter.png");

    background-size: cover;
    background-attachment: fixed;
}

section{
    background-color: rgba(255,255,255,0.85);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.navbar{
    padding: 10px;
}

.nav-link{
    transition: 0.3s;
}

.nav-link:hover{
    color: gold !important;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color:#5a3e2b;
    font-family: Georgia, serif;
    font-weight:bold;
    margin-bottom:20px;
}

h2{
    color:#7a4f2c;
}
header img{
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.container{
    max-width: 1100px;
}
.hero{
    background: rgba(255,255,255,0.8);
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px;
}
blockquote{
    font-style: italic;
    border-left: 5px solid #c9a227;
    padding-left: 15px;
}
footer{
    background:#6b4f3a;
    color:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
}
img{
    transition:0.4s;
}

img:hover{
    transform:scale(1.03);
}
